/* General */

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: rgb(0, 0, 0);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Tags */



/* Classes */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border: 1px solid black;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: rgb(); /* White-ish */
  background: linear-gradient(
    rgb() 0%,
    rgb() 100%
  ); /* Purple-ish */
}

.

.item {}

/* Identifiers */

#id1 {}

